.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 622px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #d36746;
  border: 5px solid #d36746;
  border-radius: 10px;
}
