.input {
  border: 2px solid #000000;
  color: #000000;
  background-color: #b5c3cf;
  font-family: "Trebuchet MS";
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  text-decoration: none;
  text-align: center;
}
