.music-button {
  position: absolute;
  top: 10px;
  right: 12px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}

.music-button:hover {
  display: flex;
  justify-content: flex-end;
  background-color: dimgrey;
  color: white;
}

.music-button:active {
  display: flex;
  justify-content: flex-end;
  background-color: dimgray;
  color: white;
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
