/*
Each player see his/her message having green background color.
*/
.myMessage {
  background-color: rgb(170, 245, 189);
  border-radius: 16px;
  margin: 4px 3%;
}

/*
Each player see his/her name in the chatbox as green.
*/
.myMessage .senderDetail {
  display: inline-block;
  width: 20%;
  background-color: rgb(118, 224, 145);
  border-radius: 16px;
  margin-right: 20px;
}

/*
Each player see the enemy's message as having red background
color.
*/
.enemyMessage {
  background-color: rgb(245, 190, 190);
  border-radius: 16px;
  margin: 4px 3%;
}

/*
Enemy's name also has red background color.
*/
.enemyMessage .senderDetail {
  display: inline-block;
  width: 20%;
  background-color: rgb(241, 148, 148);
  border-radius: 16px;
  margin-right: 20px;
}

/*
A CSS rule for styling the name of player who
send the message.
*/
.senderName {
  font-family: sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0.2em;
}

/*
A CSS rule for styling text messages.
*/
.message {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}
