.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #bbada0;
  border: 1 solid #bbada0;
  border-radius: 0.75;
}

.box {
  margin: 1;
  border-radius: 0.5;
  background-color: rgba(236, 186, 136, 0.35);
  width: 100px;
  height: 100px;
}
