.frame_room {
    position: absolute;
    width: 1296px;
    height: 550px;
    top: 434px;
    border: 7px solid #000000;
    box-sizing: border-box;
    display: flex;
}

.center {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: center;
  }

.button {
    box-sizing: border-box;
    width: 15em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, orange, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

.button:hover{
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}